* {
  color: #dee0e1;
  margin: 0px;
}

#mid {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.rightBox {
  width: 100%;
  height: 100%;
}

.topBox {
  display: flex;
  gap: 1.5rem;
  height: 20%;
}

.div1 {
  background: #1e213a;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  height: 100%;
}

div > img {
  width: 55%;
}

.div1 > span {
  height: 50%;
  display: flex;
  align-items: flex-end;
  font-size: 80%;
}

.fmiddleBox {
  display: flex;
  justify-content: space-between;
  height: 20%;
  gap: 8%;
  flex-wrap: nowrap;
  margin-top: 4%;
}

.middleBox {
  background-color: #1e213a;
  width: 50%;
  display: flex;
  font-size: 150%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#pr {
  
  background-color: #dee0e1;
  width: 68%;
  height: 3px;
} 
#sec{
    background-color: yellow;
    width: 83%;
    height: 3px;
}

.fsmiddleBox {
  display: flex;
  justify-content: space-between;
  height: 15%;
  gap: 8%;
  flex-wrap: nowrap;
  margin-top: 4%;
}

.smiddleBox {
  background-color: #1e213a;
  width: 50%;
  display: flex;
  justify-content: center;
  font-size: 150%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}
/* left box styles */
.leftBox {
  background-color: #1e213a;
  width: 30%;
  height: 100%;
}

.fondo {
  position: absolute;
  width: 139%;
  height: 129%;
  opacity: 16%;
}
.leftInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

.temperature {
  font-size: 450%;
  margin: 0px;
  margin-top: 15%;
}

.climate {
  font-size: 1.5em;
  margin-bottom: 20%;
  margin-top: 15%;
}

.day {
  font-size: 0.8em;
  margin: 0px;
}

.city {
  font-weight: bold;
  margin: 0px;
  margin-top: 5%;
}
.h1{
  margin-top: 5%;
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding: 4%;
}

.search {
  background-color: #6e707a;
  border: none;
  color: #dee0e1;
  width: 50%;
  cursor: pointer;

}

.btc {
  border-radius: 10px;
  background-color: #6e707a;
  border: none;
  color: #dee0e1;
  height: 2%;
  cursor: pointer;
}

.leftInformation > img {
  width: 60%;
}

section {
  height: 100%;
}

/* left box styles */

.main {
  display: flex;
  height: 800px;
}

body {
  background: #100e1d;
}

ul {
  position: absolute;
}

#firstDiv > div:nth-child(2) {
  display: flex;
  gap: 1rem;
}

#firstDiv-Second {
  position: relative;
  display: none;
}

ul {
  position: absolute;
  right: 0;
  left: 0;
  background-color: black;
  list-style: none;
  max-height: 300px;
  overflow-y: scroll;
}

li {
  padding: 10px, 5px;
  border: none;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  margin-top: 10%;
  margin-bottom: 10%;
}
form > button {
  color: black;
}

#inputC {
  background-color: #1e213a;
  border-style: solid;
  border-color: #6e707a;
  color: #6e707a;
  width: 80%;
  margin-right: 2%;
}
#inputD{
  background-color: #1e213a;
  border-style: solid;
  border-color: #6e707a;
  color: #6e707a;
  margin-top: 4%;
  width: 100%;
  cursor: pointer;
}
.citybtns{
  display: flex;
  flex-direction: column;
  margin: 2%;
}
#firstDiv-Second > div{
    display: flex;
    flex-direction: column;
}
#cerrar{
  width: 20%;
  color: black;
}
.divMiAdrres{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}
@media (max-width:800px) { 
  .main {
    display: flex;
    height: 100%;
    flex-direction: column;
    height: 100%;
}
.leftBox {
  background-color: #1e213a;
  width: 100%;
  height: 30%;
}
#mid {
  height: 100%; 
}
.topBox {

    display: flex;
    gap: 1.5rem;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.div1 {
  width: 40%;
}
.div1 > span {
  font-size: 1rem;
}
.rightBox {
  height: 800px;
  display: flex;
  flex-direction: column
}
.fmiddleBox {
  display: flex;
  height: 30%;
  gap: 8%;
  flex-wrap: wrap;
  margin-top: 4%;
  flex-direction: column;
  justify-content: space-evenly;
}
.middleBox {
  background-color: #1e213a;
  width: 100%;
  display: flex;
  font-size: 150%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 42%;
}
.fsmiddleBox {
  display: flex;
  justify-content: space-between;
  height: 15%;
  gap: 8%;
  flex-wrap: nowrap;
  margin-top: 4%;
  flex-direction: column;
}
.smiddleBox {
  background-color: #1e213a;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 150%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 238px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 4%;
  height: 50px;
}

.search{
  font-size: 1.2rem;
}
.divMiAdrres{
  height: 20px;
  height: 40px;
}
.btc{
  font-size: 2rem;
  height: 100%;
}

.city{
  font-size: 30px;
}
.day{
  font-size: 18px;
}
.fmiddleBox {
  height: 60%;
}
.fsmiddleBox {
  height: 30%;
}
#firstDiv-Second {
  position: relative;
  display: none;
  font-size: 1rem;
  height: 700px;
}
}
