* {
  color: #dee0e1;
  margin: 0px;
}

.material-symbols-outlined {
  background-color: #6e707a;
  border-radius: 100%;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
#mid {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.rightBox {
  width: 100%;
  height: 100%;
}

.topBox {
  display: flex;
  gap: 1.5rem;
  height: 20%;
  display: flex;
  justify-content: space-between;
}

.div1 {
  background: #1e213a;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  height: 100%;
}

div > img {
  width: 55%;
}

.div1 > span {
  height: 50%;
  display: flex;
  align-items: flex-end;
  font-size: 80%;
}

.fmiddleBox {
  display: flex;
  justify-content: space-between;
  height: 20%;
  gap: 8%;
  flex-wrap: nowrap;
  margin-top: 4%;
}

.middleBox {
  background-color: #1e213a;
  width: 50%;
  display: flex;
  font-size: 150%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#pr {
  background-color: #dee0e1;
  width: 68%;
  height: 5%;
  border-radius: 10px;
}
#sec{
    background-color: yellow;
    width: 83%;
    height: 100%;
    border-radius: 10px;
}

.fsmiddleBox {
  display: flex;
  justify-content: space-between;
  height: 15%;
  gap: 8%;
  flex-wrap: nowrap;
  margin-top: 4%;
}

.smiddleBox {
  background-color: #1e213a;
  width: 50%;
  display: flex;
  justify-content: center;
  font-size: 150%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}
/* left box styles */
.leftBox {
  background-color: #1e213a;
  width: 30%;
  height: 100%;
  padding: 2%;
  
}

.fondo {
  position: absolute;
  width: 139%;
  height: 129%;
  opacity: 16%;
}
.leftInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

.temperature {
  font-size: 400%;
  margin: 0px;
  margin-top: 15%;
}
#prop{
  font-size: 140%;
}
.climate {
  font-size: 1.5em;
  margin-bottom: 20%;
  margin-top: 15%;
}

.day {
  font-size: 0.8em;
  margin: 0px;
}

.city {
  font-weight: bold;
  margin: 0px;
  margin-top: 5%;
}
.h1{
  margin-top: 5%;
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding: 4%;
}

.search {
  background-color: #6e707a;
  border: none;
  color: #dee0e1;
  width: 70%;
  cursor: pointer;

}
.material-symbols-outlined{
 
}
#btc {
  background:none;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftInformation > img {
  width: 60%;
}

section {
  height: 100%;
}

/* left box styles */

.main {
  display: flex;
  height: 800px;
}

body {
  background: #100e1d;
}

ul {
  position: absolute;
}

#firstDiv > div:nth-child(2) {
  display: flex;
  gap: 1rem;
}

#firstDiv-Second {
  position: relative;
  display: none;
}

ul {
  position: absolute;
  right: 0;
  left: 0;
  background-color: black;
  list-style: none;
  max-height: 300px;
  overflow-y: scroll;
}

li {
  padding: 10px, 5px;
  border: none;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  margin-top: 10%;
  margin-bottom: 10%;
}
form > button {
  color: black;
}

#inputC {
  background-color: #1e213a;
  border-style: solid;
  border-color: #6e707a;
  color: #6e707a;
  margin-right: 2%;
  width: 90%;
  height: 35px;
  font-size: 83%;
}
#inputD{
  background-color: #1e213a;
  border-style: solid;
  border-color: #6e707a;
  color: #6e707a;
  margin-top: 4%;
  width: 100%;
  cursor: pointer;
}
.citybtns{
  display: flex;
  flex-direction: column;
  margin: 2%;
}
#firstDiv-Second > div{
    display: flex;
    flex-direction: column;
}

  #cerrar {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    background: none;
    border: none;
    cursor: pointer;
}
.cerrar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.divMiAdrres{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}
#p{
  width: 68%;
  display: flex;
  justify-content: flex-end;
  font-size: 50%;
}

#numbers{
  width: 68%;
  font-size: 50%;
  display: flex;
  justify-content: space-between;
}
@media (max-width:800px) { 
  .main {
    display: flex;
    height: 100%;
    flex-direction: column;
    height: 100%;
}
.leftBox {
  background-color: #1e213a;
  width: 100%;
  height: 30%;
}
#mid {
  height: 100%; 
}
.topBox {
    display: flex;
    gap: 1.5rem;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.div1 {
  width: 40%;
}
.div1 > span {
  font-size: 1rem;
}
.rightBox {
  height: 800px;
  display: flex;
  flex-direction: column
}
.fmiddleBox {
  display: flex;
  height: 30%;
  gap: 8%;
  flex-wrap: wrap;
  margin-top: 4%;
  flex-direction: column;
  justify-content: space-evenly;
}
.middleBox {
  background-color: #1e213a;
  width: 100%;
  display: flex;
  font-size: 150%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 42%;
}
.fsmiddleBox {
  display: flex;
  justify-content: space-between;
  height: 15%;
  gap: 8%;
  flex-wrap: nowrap;
  margin-top: 4%;
  flex-direction: column;
}
.smiddleBox {
  background-color: #1e213a;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 150%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 238px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding: 4%;
}
.search{
  font-size: 1.2rem;
}
.divMiAdrres{
  height: 20px;
  height: 40px;
}
.btc{
  font-size: 2rem;
  height: 100%;
}

.city{
  font-size: 30px;
}
.day{
  font-size: 18px;
}
.fmiddleBox {
  height: 60%;
}
.fsmiddleBox {
  height: 30%;
}
#firstDiv-Second {
  position: relative;
  display: none;
  font-size: 1rem;
  height: 700px;
}
#btc{
  height: 100%;
}

.card{
  width: 100%;
  height: 100%;
}
#inputC {
  width: 100%;
}
#inputD{
  height: 10%;
}

}
